<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--The default source directory to load, only works if no arguments are passed to the application.-->
    <add key="DefaultSourceDirectory" value="C:\Users\ahayes\Desktop\AAI logs" />
    <!--The Output Directory, writes to the application directory if none specified.-->
    <add key="OutputDirectory" value="C:\Users\ahayes\Desktop\Converted AAI Logs" />
    <!--The Service to parse.
      !Warning - the service name provided will be the only service to be parsed!-->
    <add key="ServiceName" value="" />
  </appSettings>
</configuration>