<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
    <appSettings>
      <add key="DefaultSourceDirectory" value="C:\Users\ahayes\Desktop\AAI logs" />
       <add key="OutputDirectory" value="C:\Users\ahayes\Desktop\Converted Logs" />
       <add key="ServiceName" value="" />
    </appSettings>
</configuration>